
spring:
  jpa:
    hibernate:
      ddl-auto: create
  datasource:
    username: gateway
    password: gatewayËš
    url: jdbc:postgresql://postgres-gateway:5433/revoked_tokens
  rabbitmq:
    host: rabbitmq-server
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"

jwt:
  secret: G+KbPeShVmYq3t6w9z$C&F)J@McQfTjW
